.array-container {
  top: 50px;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.up {
  position: relative;
  top: 10px; /*I want this one 100px from the top of .wrapper*/
  height: 20px;
}
.down {
  position: relative;
  top: 50px; /*I want this one 200px from the top of .wrapper*/
  align-content: center;
}
